.header{
   height: 10vh;
   display: flex;
   justify-content: space-between;
   top: 0;
   left: 0;
   margin-bottom: 2rem;
   align-items: center;
   position: fixed;
   width: 100%;
   z-index: 10;
}

.header_bg {
  background-color: var(--yellow);
  transition:all 0.5s;
  color: #fff;
}
.navbar_left{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 2rem;
    justify-content: left;
}
.navbar_name{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: BestermindRegular;
}
.navbar_right{
display: flex;
flex:1;
align-items: center;
justify-content: flex-end;
font-weight: 400;
}
.navbar_list{
    flex: 10;
}
.navbar_list>ul{
   display: flex;
   gap: 2rem;
   margin-right: 4rem;
}
.navbar_list>ul>li:hover{
    cursor: pointer;
    color: orange;
}
.navbar_button{
    flex: 2;
}
@media screen and (max-width:480px) {
   .navbar_list{
    display: none;
   }
   .navbar_button{
    display: none;
   }
}