
:root
{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

::-webkit-scrollbar{
  width: 10px;
 
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px gray;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, #fdc50f 40%, #fb982f 89%);
  border-radius: 8px;
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);  
    font-family: Robot;  
}
.button{
  border-radius: 34px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251,161,40,0.42)
}
.button:hover{
  background: #fff;
  cursor: pointer;
  color: orange;
  border: 1px solid orange;
}
.strong{
  color:orange;
  font-family: Robot;
}

@media screen and (max-width:480px){
  .github_data{
    /* font-size: 20px; */
    width: 479px;
    text-align: center;
  }
}
@media screen and (max-width:480px) {
  .App{
    padding: 0.5rem 1rem;
  }
 
  /* ::-webkit-scrollbar{
    width: 5px;
   
  }
  ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 2.5px gray;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #fdc50f 40%, #fb982f 89%);
    border-radius: 8px;
  } */
}
